body {
    background: #efefef;
    font-family:'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    font-size: 24px;
}
.subtitle {
    font-style: italic;
}

.name {
    font-size: 14px;
}
.surname {
    font-size: 16px;
}


.wrapper {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // &>* {
    //     flex-grow: 1;
    // }
}

.testComponent {
    background: #Fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px;
    margin: 8px;
}