body {
    background: #efefef;
    font-family:'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    font-size: 24px;
}
.subtitle {
    font-style: italic;
}

.name {
    font-size: 14px;
}
.surname {
    font-size: 16px;
}