body {
    background: #efefef;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input, textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 4px;
}

.title {
    font-size: 24px;
}
.subtitle {
    font-style: italic;
}

.name {
    font-size: 14px;
}
.surname {
    font-size: 16px;
}


.wrapper {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // &>* {
    //     flex-grow: 1;
    // }
}

.box {
    background: #Fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px;
    margin: 8px;
    h4 {
        margin: 0;
    }
}

.btn {
    $background: rgb(25, 112, 184);
    background: $background;
    color: white;
    padding: 6px;
    margin: 2px;
    border-radius: 4px;
    border: 1px solid #efefef;
    cursor: pointer;
    &:hover {
        background: darken($background, 5%);
    }
    &:active {
        background: darken($background, 10%);
    }
    &:disabled {
        background: #CCC;
        cursor: not-allowed;
    }
}

.form {
    h3 {
        margin: 24px;
    }
    .inputs {
        display: flex;
        margin: 8px;
        &>:first-child {
            text-align: right;
            width: 10%;
            margin-right: 8px;
        }
        input {
            width: 100%;
        }
        textarea {
            height: 100px;
            width: 100%;
        }
    }
    .button {
        text-align: right;
        .btn {
            padding: 8px 16px;
            text-transform: uppercase;
        }
    }
}